<p>Hey {{ name }},</p>
<p>We have created an account for you!</p>
<p>Your login info is as below:</p>

<p>Username: {{mail}}</p>
<p>Password: {{password}}</p>

<p>Please change your password after first login!</p>

<p>If you believe this is a mistake please ignore it. Thank you!</p>

<p>Delivery system team!</p>