<p>Dear Customer,</p>
<p>This is your OTP to cancel the order {{trackingId}}: {{otp}} </p>

<p> If you believe this is a mistake please ignore this email. Thank you!</a></p>

<p>Delivery system team!</p>